/*Global IDs*/

* {
	box-sizing: border-box;
}

footer {
	text-align: center;
	padding: 50px 0 0 0;
	font-weight: bold;
	height: 125px;
}

div {
	display: block;
}

input {
	width: 100%;
}

h1 {
	color: white !important;
}

th {
	text-align: center !important;
}


/*Individual IDs*/

#boardText {
	text-align: center;
}

/*Classes*/

.myHeader {
	background-color: #A0522D !important;
	text-align: center;
}

/*Media Queries*/